name: Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 8
          cache: maven

      - name: Build
        run: mvn -B -V -e -ntp -Dstyle.color=always clean verify

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          files: |
            ./target/Unparser-*.jar